{% extends 'global/Page.html' %}
{% load otree %}

{% block title %}<b>Willkommen!</b>{% endblock %}

{% block content %}

    <br>
        <p>Wir freuen uns über Ihre Teilnahme. Diese Studie ist ein Projekt, das von der Heinrich-Heine-Universität
        Düsseldorf (HHU) durchgeführt und finanziert wird. </p>

    <p>In dieser Studie werden wir Sie bitten, Entscheidungen in verschiedenen Situationen zu treffen. Sie enthält
    reale Entscheidungen, hypothetische Fragen und Fragen zu Ihren demographischen Daten. </p>

    <i> Vertraulichkeit </i>

    <p>Alle von Ihnen erhobenen Daten werden ausschließlich zu Forschungszwecken verwendet. Die Daten werden
    unmittelbar nach der Erhebung anonymisiert. Die Forschenden haben zu keinem Zeitpunkt Zugang zu Informationen,
    die dazu dienen könnten, Sie persönlich zu identifizieren.</p>

    <i>Freiwillige Teilnahme</i>

    <p>Die Teilnahme an dem Projekt ist freiwillig und Sie können Ihre Zustimmung jederzeit ohne Angabe von Gründen
    zurückziehen. </p>

{% next_button %}

{% endblock %}

