{% extends 'global/Page.html' %}
{% load otree %}
{% block title %}Auszahlung und Ende {% endblock %}

{% block content %}

<p>
Vielen Dank für Ihre Teilnahme an dem Experiment und der Umfrage!

    <br>
    <br>

Für die Auszahlung wurde Runde 11 zufällig ausgewählt. Ihre Auszahlung aus Runde 11 beträgt {{ participant.vars.SHttc3_payoff }} ECU,
das entspricht {{ participant.vars.SHttc3_payoff_half }} €.
Zusammen mit dem show-up fee ergibt sich eine Auszahlung von {{ participant.vars.SHttc3_payoff_final }} €.
</p>

{% endblock %}


<!--Für die Auszahlung wurde Runde 11 zufällig ausgewählt. Ihre Auszahlung aus Runde 11 beträgt {{ participant.vars.SHttc3_payoff }} ECU,
das entspricht {{ participant.vars.SHttc3_payoff_half }} €.
Zusammen mit dem show-up fee ergibt sich eine Auszahlung von {{ participant.vars.SHttc3_payoff_final }} €. -->