{% extends 'global/Page.html' %}
{% load otree %}
{% block title %}Zulassungsverfahren{% endblock %}

{% block content %}

    <p>In jeder Runde werden die Zulassungen durch das gleiche Verfahren bestimmt. Dieses Verfahren läuft wie folgt ab:</p>

    <p>Sie und die anderen drei Mitglieder in Ihrer Gruppe haben jeweils an einer der Schulen (A-D)
    die höchste Priorität. Abgesehen von der ersten Priorität wird jedem Gruppenmitglied eine
    Lotterienummer (1-4) zugewiesen, die bestimmt, in welcher Reihenfolge die Schüler:innen bei den Schulen priorisiert
    werden. Jede:r Schüler:in hat die gleichen Chancen auf jede Nummer. Bei der Zuteilung der Schüler:innen auf die Schulen
    werden die Schüler:innen mit einer niedrigeren Lotterienummer gegenüber den Schüler:innen mit einer höheren Lotterienummer
    bevorzugt behandelt. Die Priorisierung an den Schulen und die Lotterienummern werden in jeder der 20 Runden neu
    ermittelt und werden nicht bekannt gegeben. </p>

    <p>Die Zulassung an den Schulen funktioniert wie folgt:</p>

    <ul>
    <li>Zu Beginn sind noch alle Plätze an den Schulen verfügbar.</li>
    <li>Jede:r Schüler:in bewirbt sich zuerst bei der Schule, die auf der Präferenzliste an erster Stelle steht.</li>
    <li>Eine Schule kann nicht mehr Schüler:innen annehmen, als sie Plätze hat. Jede Schule hat genau einen Platz. Wenn
    sich an einer Schule nur ein:e Schüler:in bewirbt, wird diese:r Schüler:in vorläufig zugelassen. Eine vorläufige
    Zulassung bedeutet, dass der Platz an der Schule noch nicht final belegt ist. Wenn sich mehrere Schüler:innen an einer
    Schule bewerben, lässt die Schule vorläufig den Schüler oder die Schülerin mit der niedrigsten Lotterienummer zu. Die
    Schüler:innen, die keinen Platz erhalten, werden an der jeweiligen Schule endgültig abgelehnt.</li>
    <li>Wenn ein:e Schüler:in an einer Schule abgelehnt wurde, bewirbt er oder sie sich bei der nächsten Schule auf der
    Präferenzliste.</li>
    <li>Wann immer eine Schule neue Bewerbungen erhält, werden alle Bewerbungen neu betrachtet. Wenn sich mehrere Schüler:innen
    an einer Schule bewerben, lässt die Schule wieder vorläufig den Schüler oder die Schülerin mit der niedrigsten
    Lotterienummer zu. Die Schüler:innen, die keinen Platz erhalten, werden an der jeweiligen Schule endgültig abgelehnt.</li>
    <li>...</li>
    </ul>

    <p>Das Zulassungsverfahren wird so lange nach diesen Regeln fortgesetzt, bis jede:r Schüler:in vorläufig an einer
    Schule zugelassen wurde und keine Bewerbung mehr abgelehnt wird. Sobald dies der Fall ist, wird die vorläufige
    Zulassung der Schüler:innen zu einer endgültigen Zulassung und das Zulassungsverfahren wird beendet.</p>

    <p>Sie erhalten nach jeder Runde eine Rückmeldung darüber, an welcher Schule Sie endgültig zugelassen werden.</p>

    {% next_button %}

{% endblock %}