{# ============================================================================================= #}
{# LOAD PACKAGES =============================================================================== #}
{# ============================================================================================= #}
{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}


{# ============================================================================================= #}
{# LOAD STYLESHEET ============================================================================= #}
{# ============================================================================================= #}
{% block styles %}

    <link href="{% static 'SHttc/css/style.css' %}" rel="stylesheet"/>

{% endblock %}


{# ============================================================================================= #}
{# PAGE HEADING ================================================================================ #}
{# ============================================================================================= #}
{% block title %}

        {% trans "Click next to proceed to next page" %}

 {% endblock %}


{# ============================================================================================= #}
{# PAGE CONTENT ================================================================================ #}
{# ============================================================================================= #}
{% block content %}

{% next_button %}


{% endblock %}
