{% extends 'global/Page.html' %}
{% load otree %}
{% block title %}Zulassungsverfahren{% endblock %}

{% block content %}

    <p>In jeder Runde werden die Zulassungen durch das gleiche Verfahren bestimmt. Dieses Verfahren läuft wie folgt ab:</p>

    <p>Ihnen und den anderen drei Mitgliedern in Ihrer Gruppe wird jeweils eine der Schulen (A-D)
    vorläufig zugeteilt. Außerdem wird jedem Gruppenmitglied eine
    Lotterienummer (1-4) zugewiesen, die bestimmt, in welcher Reihenfolge die übermittelten Präferenzlisten bei den Schulen
    berücksichtigt werden. Jede:r Schüler:in hat die gleichen Chancen auf jede Nummer. Bei der Zuteilung werden die Präferenzlisten
    der Schüler:innen mit einer niedrigeren Lotterienummer gegenüber den Präferenzlisten der Schüler:innen mit einer höheren Lotterienummer
    bevorzugt berücksichtigt. Die vorläufige Zuteilung der Schulen und die Lotterienummern werden in jeder der 20 Runden neu
    ermittelt und werden nicht bekannt gegeben.</p>

    <p>Die Zulassung an den Schulen funktioniert wie folgt:</p>

    <ul>
    <li>Nach der vorläufigen Zuteilung der Schulen sind noch alle Plätze zum Tausch verfügbar.</li>
    <li>Alle Bewerber:innen werden gemäß der durch die Lotterie bestimmten Reihenfolge in einer Warteschlange geordnet.</li>
    <li>Beginnend mit dem oder der Schüler:in mit der niedrigsten Lotterienummer, wird eine Bewerbung an die Schule geschickt,
    die auf der Präferenzliste an erster Stelle steht.</li>
        <ul>
            <li>Wenn die Bewerbung an die Schule geschickt wird, an der der Schüler oder die Schülerin bereits vorläufig
            zugelassen wurde, dann wird die vorläufige Zulassung zu einer endgültigen Zulassung. Eine Schule kann nicht
            mehr Schüler:innen anehmen, als sie Plätze hat. Der oder die Schüler:in und die entsprechende Schule werden
            aus dem weiteren Verfahren herausgenommen und es wird mit der nächsten
            Bewerbung fortgefahren.</li>
            <li>Wenn die Bewerbung an eine andere Schule geschickt wird, dann wird das Gruppenmitglied, das der Schule vorläufig
            zugeteilt wurde, an den Anfang der Warteschlange vor den oder die Schüler:in mit der niedrigsten Lotterienummer
            gesetzt.</li>
        </ul>
    <li>Wann immer die Warteschlange verändert wird, wird das Zulassungsverfahren in gleicher Weise fortgesetzt: Für den
    oder die Schüler:in an der ersten Stelle der Warteschlange wird eine Bewerbung an die Schule geschickt, die auf der
    Präferenzliste an erster Stelle steht.</li>
        <ul>
            <li>Wenn die Bewerbung an die Schule geschickt wird, an der der oder die Schüler:in bereits vorläufig zugelassen
            wurde, wird die vorläufige Zulassung zu einer endgültigen Zulassung. Das Zulassungsverfahren fährt mit der nächsten
            Bewerbung fort.</li>
            <li>Wenn die Bewerbung an eine andere Schule geschickt wird, dann wird das Gruppenmitglied, das der Schule vorläufig
            zugeteilt wurde, an den Anfang der Warteschlange gesetzt. Auf diese Weise wird jedem Schüler und jeder Schülerin
            basierend auf seiner oder ihrer Präferenzliste eine Zuteilung garantiert, die mindestens so gut ist wie die vorab bestimmte Zuteilung.</li>
        </ul>
    <li>Ein Tausch zum gegenseitigem Vorteil wird erreicht, wenn ein Zyklus an Bewerbungen gefunden wird, der alle betroffenen
    Schüler:innen besserstellt. In diesem Fall wird der Tausch abgeschlossen und die Schüler:innen und ihre zugeteilten
    Schulen werden aus dem weiteren Verfahren herausgenommen.</li>
    </ul>

    <p>Das Zulassungsverfahren wird so lange nach diesen Regeln fortgesetzt, bis jede:r Schüler:in endgültig an einer
    Schule zugelassen wurde und keine weiteren Tauschmöglichkeiten zum gegenseitigem Vorteil bestehen.
    Sobald dies der Fall ist, wird das Zulassungsverfahren beendet.</p>

    <p>Sie erhalten nach jeder Runde eine Rückmeldung darüber, an welcher Schule Sie endgültig zugelassen werden.</p>

    {% next_button %}

{% endblock %}